/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "foundation";

#masthead {
	width:100%;
	background-color: #333;
	.nav-bar {
		margin-top:0px;
		margin-bottom: 0px;
	}
}

table.columns {
	padding:0px;
}

form.custom {
	select { 
		display: none;
	}
}

section {
	margin-top:32px;
}

.ui-datepicker-header {
	background-color: white;
	padding-top:8px;
	padding-bottom:8px;
	border: 1px solid #DDD;
	border-bottom: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	.ui-datepicker-prev {
		left:8px;
		position: absolute;
	}
	.ui-datepicker-next {
		right:8px;
		position: absolute;
	}
	.ui-datepicker-title {
		text-align: center;
	}
}